
@font-face {
    font-family: 'oswald_light';
    src: url('../../includes/webfonts/oswald_light.eot');
    src: url('../../includes/webfonts/oswald_light.eot?#iefix') format('embedded-opentype'),
         url('../../includes/webfonts/oswald_light.woff') format('woff'),
         url('../../includes/webfonts/oswald_light.ttf') format('truetype'),
         url('../../includes/webfonts/oswald_light.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #eee;
    background-image: url('../media/image/layout/background.png');
    margin: 0px;
    padding: 0px;
}

body, a, input, textarea {
    font-family: arial;
    font-size: 14px;
    color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'oswald_light';
    color: #0e578c;
    font-weight: normal;
    padding: 0px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: 'oswald_light';
    color: #0e578c;
    text-decoration: none;
}

h1 {
    margin: 8px 0px 15px 0px;
}

h1, h1 a {
    font-size: 30px;
}

h2 {
    margin: 8px 0px 13px 0px;
}

h2, h2 a {
    font-size: 25px;
}

h3 {
    margin: 8px 0px 11px 0px;
}

h3, h3 a {
    font-size: 21px;
}

h4 {
    margin: 8px 0px 9px 0px;
}

h4, h4 a {
    font-size: 18px;
}

h5, h6 {
    margin: 8px 0px 8px 0px;
}

h5, h5 a, h6, h6 a {
    font-size: 15px;
}

p  {
    padding: 0px;
    margin: 8px 0px 8px 0px;
}

ul, ol  {
    padding: 0px 0px 0px 25px;
    margin: 8px 0px 8px 0px;
}

li {
    padding: 0px;
    margin: 3px 0px 3px 0px;
}

blockquote {
    position: relative;
    box-sizing: border-box;
    padding: 15px 30px 15px 50px;
    margin: 15px 0px 15px 0px;
    border: 1px solid #bbb;
    background-color: #f9f9f9;
    border-radius: 10px;
}

blockquote:before {
    content: "â€";
    font-family: Georgia,serif;
    font-size: 50px;
    line-height: normal;
    font-weight: bold;
    color: #999;
    position: absolute;
    left: 15px;
    top: 5px;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, p:first-child, ul:first-child, ol:first-child, li:first-child, blockquote:first-child {
    margin-top: 0px;
}

h1:last-child, h2:last-child, h3:last-child, h4:last-child, h5:last-child, h6:last-child, p:last-child, ul:last-child, ol:last-child, li:last-child, blockquote:last-child {
    margin-bottom: 0px;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
}

header {
    padding: 65px 28px 40px 28px;
    text-align: center;
    background-image: url('../media/image/layout/header.jpg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 650px) {
    header {
        padding: 33px 26px 20px 26px;
    }
}

header img {
    max-width: 100%;
}

nav {
    margin: 0px;
    padding: 0px;
    background-color: #bbb;
}

.layertop {
    padding: 30px;
    background-color: #374e5f;
}

.layertop, .layertop * {
    color: #fff;
}

.layercontent {
    padding: 40px 30px;
}

.layerbottom {
    padding: 40px 30px;
    background-color: #f6f6f6;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.1) inset;
}

footer {
    padding: 20px 30px;
    background-color: #333;
}

footer, footer * {
    color: #fff;
    font-size: 12px;
}

@media screen and (max-width: 650px) {
    #navtoggle {
        padding: 8px 30px 5px 0px;
        text-align: right;
    }
    
    #navtoggle img {
        cursor: pointer;
    }
    
    #navmenu {
        display: none;
    }
    
    #navi ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    
    #navmenu li {
        margin: 0px;
        padding: 0px;
        white-space: nowrap;
    }
    
    #navmenu a {
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        display: block;
        padding: 8px 30px;
        -webkit-transition: all .15s ease-in-out;
        -moz-transition: all .15s ease-in-out;
        -ms-transition: all .15s ease-in-out;
        -o-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    
    #navmenu li li a {
        padding-left: 60px;
    }
    
    #navmenu li li li a {
        padding-left: 90px;
    }
    
    #navmenu li li li li a {
        padding-left: 120px;
    }
    
    #navmenu li li li li li a {
        padding-left: 150px;
    }
    
    #navmenu li:hover > a, #navmenu li.defpage > a {
        background-color: #ddd;
        color: #000;
    }
}

@media screen and (min-width: 651px) {
    #navtoggle {
        display: none;
    }
    
    #navmenu {
        float: left;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 900;
    }
    
    nav#navi:after { 
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
    }
    
    #navi ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
        background-color: #bbb;
        position: relative;
    }
    
    #navmenu li {
        margin: 0px;
        padding: 0px;
        white-space: nowrap;
        -webkit-transition: background .15s ease-in-out;
        -moz-transition: background .15s ease-in-out;
        -ms-transition: background .15s ease-in-out;
        -o-transition: background .15s ease-in-out;
        transition: background .15s ease-in-out;
    }
    
    #navmenu a {
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        display: block;
        padding: 6px 19px;
        -webkit-transition: color .15s ease-in-out;
        -moz-transition: color .15s ease-in-out;
        -ms-transition: color .15s ease-in-out;
        -o-transition: color .15s ease-in-out;
        transition: color .15s ease-in-out;
    }
    
    #navmenu > li {
        float: left;
    }
    
    #navmenu > li > a {
        padding: 12px 19px;
    }
    
    #navmenu > li:first-child > a {
        padding-top: 12px;
    }
    
    #navmenu > li:last-child > a {
        padding-bottom: 12px;
    }
    
    #navmenu li ul {
        opacity: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
        -webkit-transition: opacity .15s ease-in-out;
        -moz-transition: opacity .15s ease-in-out;
        -ms-transition: opacity .15s ease-in-out;
        -o-transition: opacity .15s ease-in-out;
        transition: opacity .15s ease-in-out;
    }
    
    #navmenu li:hover > ul {
        opacity: 1;
        height: auto;
        overflow: visible;
    }
    
    #navmenu ul li {
        float: none;
        display: list-item;
        position: relative;
    }
    
    #navmenu ul ul {
        float: left;
        left: 100%;
        top: 0px;
    }
    
    #navmenu li > a:after {
        content: url('../media/image/layout/arr_down.png');
        background: url('../media/image/layout/arr_down_black.png') no-repeat -9999px -9999px;
    }
    
    #navmenu ul li > a:after {
        content: url('../media/image/layout/arr_right.png');
        background: url('../media/image/layout/arr_right_black.png') no-repeat -9999px -9999px;
    }
    
    #navmenu li:hover, #navmenu li.defpage {
        background-color: #ddd;
    }
    
    #navmenu li:hover > a, #navmenu li.defpage > a {
        color: #000;
    }
    
    #navmenu li:hover > a:after, #navmenu li.defpage > a:after {
        content: url('../media/image/layout/arr_down_black.png');
    }
    
    #navmenu ul li:hover > a:after, #navmenu ul li.defpage > a:after {
        content: url('../media/image/layout/arr_right_black.png');
    }
    
    #navmenu li > a:only-child:after, #navmenu li:hover > a:only-child:after, 
    #navmenu ul li > a:only-child:after, #navmenu ul li:hover > a:only-child:after {
        content: '';
    }
}

@media screen and (min-width: 901px) {
    #navmenu a {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}



.alignleft {
    text-align: left;
}

.aligncenter {
    text-align: center;
}

.alignright {
    text-align: right;
}

.alignjustify {
    text-align: justify;
}

.indent1 {
    margin-left: 30px;
}

.indent2 {
    margin-left: 60px;
}

.indent3 {
    margin-left: 90px;
}

.indent4 {
    margin-left: 120px;
}

.indent5  {
    margin-left: 150px;
}




@media screen and (max-width: 650px) {
    .imgfullheight {
        height: 200px;
    }
}

.imgfullheight img {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

img.imgresponsive {
    width: 100%;
}

@media screen and (max-width: 650px) {
    img.floatleft, img.floatright {
        margin-bottom: 20px;
        width: 100%;
    }
}

@media screen and (min-width: 651px) {
    img.floatleft {
        float: left;
        padding-right: 15px;
        margin-right: 15px;
    }
    
    img.floatright {
        float: right;
        padding-left: 15px;
        margin-left: 15px;
    }
    
    img.floatleft, img.floatright {
        margin-top: 3px;
        margin-bottom: 10px;
        width: 50%;
        box-sizing: border-box;
    }
}

@media screen and (min-width: 901px) {
    img.floatleft, img.floatright {
        width: 33.3333%;
    }
}
.greybglight {
    background-color: #eee;
    padding-top: 30px;
    padding-bottom: 30px;
}

.greybgdark {
    background-color: #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

.video16x9_resp:before {
    content: "";
    display: block;
    position: absolute;
    padding-bottom: 56.25%;
}

.video16x9_resp video {
    width: 100%;
    height: 100%;
}

.flashanimation {
    margin: 20px auto;
}

@media screen and (max-width: 650px) {
    .flashanimation {
        width: 250px;
        height: 150px;
    }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
    .flashanimation {
        width: 400px;
        height: 200px;
    }
}

@media screen and (min-width: 901px) {
    .flashanimation {
        width: 550px;
        height: 250px;
    }
}

#gallery {
    margin: -15px;
    overflow: hidden;
}

#gallery img {
    padding: 15px;
    float: left;
    box-sizing: border-box;
}

#gallery:after {
    content: "";
    display: block;
    clear: both;
}

@media screen and (max-width: 400px) {
    #gallery img {
        width: 100%;
    }
}

@media screen and (min-width: 401px) and (max-width: 650px) {
    #gallery img {
        width: 50%;
    }
}

@media screen and (min-width: 651px) and (max-width: 900px) {
    #gallery img {
        width: 33.3333%;
    }
}

@media screen and (min-width: 901px) {
    #gallery img {
        width: 25%;
    }
}

.intext input, .intext textarea {
    width: 100%;
    padding: 3px 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-top: 10px;
}

.intext:first-child input {
    margin-top: 0px;
}

.intext textarea {
    height: 130px;
    min-height: 130px;
    resize: vertical;
}

.button {
    width: 100%;
    padding: 3px 5px;
    font-weight: bold;
    border: 1px solid #ccc;
    background-color: #ccc;
    color: #fff;
    margin-top: 10px;
}

.googlemap {
    width: 100%;
    height: 400px;
}

.newsest article {
    margin-top: 20px;
}

.newsest article:first-child {
    margin-top: 0px;
}

.newsest .newsdate {
    text-align: right;
    margin-bottom: -13px;
}

.newsest .newslink {
    text-align: right;
}

.newslist {
    margin-top: 30px;
}

@media screen and (min-width: 650px) {
    .newslist {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 50%;
        -moz-column-width: 50%;
        column-width: 50%;
        -webkit-column-gap: 30px;
        -moz-column-gap: 30px;
        column-gap: 30px;
    }
}

@media screen and (min-width: 901px) {
    .newslist {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
        -moz-column-width: 33.333%;
        -webkit-column-width: 33.333%;
        column-width: 33.333%;
    }
}

.newsview {
    padding-bottom: 20px;
    /*
    column-break-inside : avoid;
    */
    display: inline-block;
}

.newsview:last-child {
    padding-bottom: 0px;
}

.newsview .newsdate {
    border-bottom: 1px solid #ddd;
    padding: 2px 0px;
    margin-bottom: -5px;
    text-align: right;
}

.newsview .newsopen {
    margin-top: 10px;
    text-align: right;
}

.newspaging {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
}

.newspaging .newspager, .newspaging a {
    margin: 0px 40px;
}

.newspaging .newspager:first-child, .newspaging a:first-child {
    margin: 0px 40px 0px 0px;
}

.newspaging .newspager:last-child, .newspaging a:last-child {
    margin: 0px 0px 0px 40px;
}

@media screen and (max-width: 650px) {
    .newspaging .newspager, .newspaging a {
        margin: 0px 20px;
    }

    .newspaging .newspager:first-child, .newspaging a:first-child {
        margin: 0px 20px 0px 0px;
    }

    .newspaging .newspager:last-child, .newspaging a:last-child {
        margin: 0px 0px 0px 20px;
    }
}

.newspaging .newsthispage {
    font-weight: bold;
}

.newspaging .newspager, .newspaging .newsthispage {
    cursor: default;
}

.newsfull {
    margin-top: 20px;
}

.newsfull:after {
    content: "";
    display: block;
    clear: both;
}

.newsfull .newsdate {
    border-bottom: 1px solid #ddd;
    padding: 2px 0px;
    margin-bottom: -5px;
    text-align: right;
}

.newsimage img {
    width: 100%;
}

@media screen and (max-width: 650px) {
    .newsfull .newstext {
        margin-top: 20px;
    }
}

@media screen and (min-width: 651px) {
    .newsimage {
        padding: 0px 0px 15px 30px;
        float: right;
        box-sizing: border-box;
        width: 50%;
    }
}

@media screen and (min-width: 901px) {
    .newsimage {
        width: 40%;
    }
}

.newsprevnext {
    border-top: 1px solid #ddd;
    margin-top: 30px;
    padding-top: 10px;
    text-align: center;
}

.newsprevnext a {
    margin: 0px 70px;
}

@media screen and (max-width: 650px) {
    .newsprevnext a {
        margin: 0px 30px;
    }
}

.newsprevnext a:first-child {
    margin-left: 0px;
}

.newsprevnext a:last-child {
    margin-right: 0px;
}








